apscheduler==3.10.4
beautifulsoup4==4.12.3
cloudinary==1.41.0
feedparser==6.0.11
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-oauthlib==1.2.1
lxml==6.1.0
openai==1.51.2
pandas==2.2.3
pillow==10.4.0
pyyaml==6.0
python-dotenv==1.0.1
requests==2.32.3
streamlit==1.39.0
tenacity==9.0.0

google-generativeai==0.8.3
